body {
  margin: 5px; 
  font-family: Arial, Helvetica, sans-serif;
}

.topLine {
  height: 1.25em;
  background-color: #e5ecf9;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 3px;
  padding-top: 2px;
}

.headline {
  font-weight: bold;
  color: #3366cc;
}